
.slide-container { 
    float: left;
    position: relative;
    margin: 10px;
    width: 270px;
    height: 416px;
    margin-top: 0px;
    border-radius: 20px;
    background: linear-gradient(0.12deg, #000000 0.1%, rgba(0, 0, 0, 0) 70%)
}

.photo {
    height:415px;
    width: 100%;
    border-radius: 20px;
}

.btn-style{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    top: 80%;
    left: 0;
    right: 0;
    border-radius: 5px;
    border: none;
    background-color: royalblue;
    color:  white;
    text-align: center;
    width: 60%;
}




  @media screen and (max-width: 500px) {
    .slide-container {
      width: 100%;
    }
  }


